.bt-aerospace-n-1 {
  color: white;
}

.bt-armor-n-1 {
  color: white;
}

.bt-bannsons-raiders-n-1 {
  color: #8c9fab;
}

.bt-bannsons-raiders-n-2 {
  color: #734526;
}

.bt-battletech {
  color: white;
}

.bt-battletech-p-1 {
  color: #D89A00;
}

.bt-black-widow-company-n-1 {
  color: red;
}

.bt-burrs-black-cobras-n-1 {
  color: yellow;
}

.bt-circinus-federation-n-1 {
  color: #8bd143;
}

.bt-circinus-federation-n-2 {
  color: red;
}

.bt-circinus-federation-n-3 {
  color: white;
}

.bt-circinus-federation-n-4 {
  color: #cd614a;
}

.bt-circinus-federation-n-5 {
  color: #f2ef9d;
}

.bt-civil-war-n-1 {
  color: white;
}

.bt-clan-blood-spirit-n-1 {
  color: #b75732;
}

.bt-clan-blood-spirit-p-1 {
  color: #662f23;
}

.bt-clan-blood-spirit-p-2 {
  color: #90917b;
}

.bt-clan-blood-spirit-p-3 {
  color: #c75035;
}

.bt-clan-blood-spirit-p-4 {
  color: #c2ad44;
}

.bt-clan-burrock-n-1 {
  color: white;
}

.bt-clan-burrock-n-2 {
  color: gold;
}

.bt-clan-burrock-n-3 {
  color: grey;
}

.bt-clan-cloud-cobra-n-1 {
  color: red;
}

.bt-clan-cloud-cobra-n-2 {
  color: white;
}

.bt-clan-cloud-cobra-n-3 {
  color: #62447f;
}

.bt-clan-cloud-cobra-n-4 {
  color: #419488;
}

.bt-clan-coyote-n-1 {
  color: gold;
}

.bt-clan-coyote-n-2 {
  color: #bdada0;
}

.bt-clan-coyote-n-3 {
  color: #533825;
}

.bt-clan-coyote-n-4 {
  color: #253a7d;
}

.bt-clan-coyote-p-1 {
  color: #b0271f;
}

.bt-clan-diamond-shark-n-1 {
  color: #7c8cc1;
}

.bt-clan-diamond-shark-n-2 {
  color: red;
}

.bt-clan-diamond-shark-n-3 {
  color: white;
}

.bt-clan-diamond-shark-n-4 {
  color: #8f979a;
}

.bt-clan-diamond-shark-p-1 {
  color: #495d68;
}

.bt-clan-fire-mandrill-n-1 {
  color: #782929;
}

.bt-clan-fire-mandrill-n-2 {
  color: #ede9bc;
}

.bt-clan-fire-mandrill-n-3 {
  color: #c2914b;
}

.bt-clan-fire-mandrill-n-4 {
  color: #53436b;
}

.bt-clan-fire-mandrill-n-5 {
  color: #c4c1ab;
}

.bt-clan-fire-mandrill-n-6 {
  color: #c76b42;
}
