//\\ BattleText Examples Page //\\

body{background-color: azure;}
h1{text-align: center;}
.battletext-example {
     .bt{padding:1rem;}
     i{font-size: 10rem;}

     .bt-stack{
          font-size: 4rem;
          vertical-align: baseline; 
          margin-right: 2rem; 
     }

     h2{
          margin:0;
          padding-left: 1rem;
          background-color: white;
     }

     label{
          background-color: silver;
          padding: 0.25rem;
          display: block;
          margin-top: 0.5rem;
          width: 75%;
     }

     .bt-logo-container{
          display: inline-block;
     }

     section{
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          border: solid 0.1rem black;
          @include hazard-tape(0deg,rgb(241, 241, 241),0.25rem,rgb(180, 180, 180),0.25rem,0.5rem);
     }
}

.plusAndEquals{
     font-size: 4rem;
     vertical-align: baseline;
     margin: 1rem;
}

.bt-main-logo-container{
     text-align: center;

     .bt-main-logo{
          font-size: 10rem;
     }
}

.bt-to-top{
     text-transform: uppercase;
     text-decoration: none;
     background-color: rgba(50, 50, 50, 0.9);
     color: white;
     position: fixed;
     right: 0;
     z-index: 2;
     bottom: 2rem;
     opacity: 0.66;
     border-radius: 2rem;
     display: inline-block;
     padding: 0.5rem 1rem;
     vertical-align: middle;

     &:hover{
          opacity: 1;
     }
}