//\\ BattleText List //\\

.#{$bt-css-prefix}-ul {
  list-style-type: none;
  margin-left: $bt-li-width * 5/4;
  padding-left: 0;

  > li { position: relative; }
}

.#{$bt-css-prefix}-li {
  left: -$bt-li-width;
  position: absolute;
  text-align: center;
  width: $bt-li-width;
  line-height: inherit;
}
