//\\ BattleText Stacked //\\

.#{$bt-css-prefix}-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.#{$bt-css-prefix}-stack-1x,
.#{$bt-css-prefix}-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.#{$bt-css-prefix}-stack-1x {
  line-height: inherit;
}

.#{$bt-css-prefix}-stack-2x {
  font-size: 2em;
}

.#{$bt-css-prefix}-inverse {
  color: $bt-inverse;
}
